body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.3rem;
    /* background-color: #f8f9fa; */
/* background-image: url("https://www.transparenttextures.com/patterns/escheresque.png"); */

}

/* .navbar-light {
    background-color: #f9f6f7;
} */

.jumbotron {
    margin: 0 auto;
    padding: 70px 30px;
    background-color: #f8f9fa;
    /* background-image: url("https://www.transparenttextures.com/patterns/escheresque.png"); */

    color: #222831;
    border-radius: 0; 
}

span {
    font-family: 'Work Sans', sans-serif;

}

small {
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 600;
}

mark {
    background-color: #f8f9fa;
    border-radius: 0.3rem;
}

.navbar-text {
    font-family: 'Kiwi Maru', sans-serif;
    font-weight: 100;
}

.nav-link {
    color: #222831;
}

.nav-link:hover {
    background-color: #e7e6e1;
    /* color: #0d6efd; */
    color: #222831;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #222831;
}

h1, h2, h3, h4 {
    font-family: 'Kiwi Maru', serif;
    font-weight: 600;
}

h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.h-bg {
    font-family: 'Kiwi Maru', serif;
    background-color: #f8f9fa;
    border-radius: 0.3rem;
    width: fit-content;
}

.certA {
    text-decoration: none;
    color: #222831;
}

.progress {
    background-color: #e7e6e1;
}

.progress-bar {
    background-color: #1f3c88; 
}

.card {
    /* background-color: #00000008; */
    border: none;
    border-radius: 1rem;

  
}
  
.card-header:first-child {
    border-bottom: none;
    /* background-color: rgba(0,0,0,.03); */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  
}

.card-img-top {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #f8f9fa;
}

.project-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
  
.card-body {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #f8f9fa;
}

footer {
    font-family: 'Kiwi Maru', serif;
    background-color: #f8f9fa;
    color: #222831;
}

footer a {
    font-family: 'Work Sans', sans-serif;
    vertical-align: middle;
    text-decoration: none;
}

footer .btn {
    border: none;
}

footer .btn:hover {
    color: #f8f9fac9;
}

footer mark {
    font-size: smaller;
    background-color: #e7e6e1;
    border-radius: 0.3rem;

}

.link {
    background-color: #0072b1;
    color: white;
}

.twit {
    background-color: #1da1f2;
    color: white;
}

.at {
    background-color: #EA4335;
    color: white;
}

.red {
    background-color: #ff4301;
    color: white;
}

.gith {
    background-color: #666666;
    color: white;
}

.row-content {
    padding: 2%;
}



